@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>   <!--  -->
<html lang="es">  <!-- tipo de lenguaje -->
    
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shipping Drone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    
<body>
    <!-- <header>
        <h1 class="italic" >SHIPPING DRONE</h1>  --- titulo principal ---       
    </header> -->

     <div class="text-center">
    <h1 class="display-4">Bienvenido a Shipping Drone</h1>
    <p>Donde tu entrega se efectua con rapidez y calidad</p>
    </div>
    <div class="parrafo1">
    <p><span>Misión:</span><br>
SHIPPING DRONE es una empresa 100% colombiana, enfocada a prestar servicios logísticos de mensajería con drones, reconocida por la puntualidad, confiabilidad, discreción y manejo responsable en toda la cadena logística del servicio de mensajería.

Junto con soluciones tecnológicas seguras, confiables, que cumplen con los más altos estándares de calidad, SHIPPING DRONE satisface las necesidades del cliente, contribuyendo a desarrollar grandes beneficios para el cliente y para la compañía. 
</p>
    </div>

    <div class="parrafo2">
    <p><span>Vision:</span><br>
Ser una empresa referente en el sector de la mensajería con drones. Caracterizada por generar valor, en cada proceso logístico. Ser un lugar agradable para laborar con sentido de pertenencia, logrando para los empleados, bienestar, superación, y proyección de trabajo a largo plazo.
</p>
</div>

    <div class="parrafo3">
    <p><span>Valores Institucionales:</span><br>
* Puntualidad
* Confiabilidad
* Discreción
* Responsabilidad.</p>
    </div>


    <p class="p1">Las entregas simpre se realizan a tiempo</p>
    <div class="galeria1">
    </div>
    <br>
    <br>
    <br>
    <br>
  
    <p class="p3">Tu entrega se realiza en cualquier parte de la ciudad y siempre con altos estandares de calidad</p>
    <div class="galeria3">
    </div>

    
  


</body>

</html>



<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->
