@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>   <!--  -->
<html lang="es">  <!-- tipo de lenguaje -->
    
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shipping Drone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    
<body>
    <!-- <header>
        <h1 class="italic" >SHIPPING DRONE</h1>  --- titulo principal ---       
    </header> -->

     <div class="text-center">
    <h1 class="display-4">Bienvenido a Shipping Drone</h1>
    <p>Donde tu entrega se efectua con rapidez y calidad</a>.</p>
    </div>

    <p class="p1">Las entregas simpre se realizan a tiempo</p>
    <div class="galeria1">
    </div>
    <br>
    <br>
    <br>
    <br>
  
    <p class="p3">Tu entrega se realiza en cualquier parte de la ciudad y siempre con altos estandares de calidad</p>
    <div class="galeria3">
    </div>

    
  


</body>

</html>



<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->
