*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
  }
  
  body{
      margin:0;
      font-family: 'Open Sans', sans-serif;
      background-image: url(1DatosPersonales.jpg); /*para la imagen estatica de fondo */
        background-size:cover;
        background-attachment:fixed;
        background-repeat: no repeat;   
  }
.formulario{
    width:500px;
    max-width:100%;
    margin:auto;
    margin-top:50px; /*espaciado desde la navbar*/
    margin-bottom:100px; /*espaciado desde el footer*/
    padding:20px;
    box-shadow:0  0 20px 1px rgba(0,0,0,0.3);
    position:relative; /*relavite, porque vamos a posisionar otro elemento en base al formulario*/
    margin-left:50%;
    border-radius:20px;
}
.formulario__titulo{
    text-align:center;
    margin-top:0;
    margin-bottom:40px;
    color:rgba(0,0,0,0.7);
    font-weight: bold; /*negrita*/
    font-weight: 900; /*grosor-negrita*/
    font-family: fantasy;
}
.formulario__input{
    padding:10px;
    border:1px solid rgba(0,0,0,0.3);
    margin-bottom:40px;
    border-radius:20px;
    height:40px;  /*altura de la caja de texto*/
    display:block;
    width:80%;
    font-size:1em; /*tamaño de la fuente dentro del input*/
    margin-left:40px; /*correr la caja del input hacia la derecha*/
    padding:8px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:30px;
    background: rgba(0,0,0,0.7);
    color:white;    
}
.formulario h1{
    font-weight: bold; /*negrita*/
    font-weight: 900; /*grosor-negrita*/
    font-family: fantasy;
}
.formulario h1 span{
  margin-right:20px; /*para separar el icono de la palabra*/
  font-size:80px;  /*tamaño del icono*/
}
.col span{
  margin-right:15px;
}
.formulario__input:focus{
    outline:1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus + .formulario__label{
    margin-top:-115px;
}

.formulario__checkbox{
    
    margin-bottom:15px;
    width:10%;
}
.formulario__submit{
    background: rgba(0,0,0,0.7);
    color:white;
    padding: 10px 10px;
    cursor:pointer;
    width:40%;  /*el tamaño en ancho del boton submit-enviar*/
    border:none;
    border-radius:20px;
    font-size:1.2em;
    margin-left:30%;
    transition:.5s;
}
.formulario__submit:hover{
    transform:translateY(10px); /*para que el boton se mueva de arriba abajo --y translateX, es para que se mueva izq-der, el desplazamiento es mayor 20px*/
}


